{% extends "base.html" %} {% block bodyClass %} class="page-body" {% endblock %} {% block mainClass %}
class="page-container" {% endblock %} {% block main %}
<section class="about-us">
  <h1>Про нас</h1>
  <div class="about-content">
    <div class="about-text">
      <p>
        Ласкаво просимо до нашої туристичної агенції! Ми працюємо вже понад 8 років, щоб дарувати вам незабутні враження
        та найкращі подорожі по всьому світу.
      </p>
      <p>
        Наша команда професіоналів завжди готова допомогти вам з вибором ідеального туру, враховуючи всі ваші побажання
        та бюджет. Ми співпрацюємо лише з надійними партнерами та готелями, щоб гарантувати вашу безпеку та комфорт.
      </p>
      <p>Чому обирають нас?</p>
      <ul>
        <li><strong>8 років досвіду:</strong> Ми знаємо все про туризм.</li>
        <li><strong>400+ млн турів:</strong> Найбільший вибір пропозицій.</li>
        <li><strong>Індивідуальний підхід:</strong> Ми цінуємо кожного клієнта.</li>
        <li><strong>Надійність:</strong> Працюємо лише з перевіреними операторами.</li>
      </ul>
    </div>
    <div class="about-image">
      <img src="../static/images/logo.png" alt="Travel Agency Logo" />
    </div>
  </div>
</section>
{% endblock %}
